@media (min-width: 1400px) {
  main {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 135px 40px 232px 60px 605px 160px;
    grid-gap: 10px;
  }
  .logo {
    grid-column: 2/5;
    grid-row: 1/3;
  }

  .menu {
    grid-column: 5/16;
    grid-row: 1;
  }
  #akcesoria {
    top: 95px;
    left: 398px;
    height: 0;

    width: 120px;
  }
  #czesci {
    top: 95px;
    right: 700px;
    height: 0;
    width: 50px;
  }
  #ubrania {
    top: -50px;
    left: 860px;
    height: 0;
    width: 90px;
  }
  #konto {
    top: 24px;
    right: 270px;
    height: 0;
    width: 120px;
  }
  .contentOne {
    grid-column: 5/15;
    grid-row: 2;
  }
  .slider {
    grid-column: 2/11;
    grid-row: 3;
  }
  .contentTwo {
    grid-column: 2/-1;
    grid-row: 4;
  }
  .contentMain {
    grid-column: 2/16;
    grid-row: 5;
  }
  .contentSide {
    grid-column: 12/16;
    grid-row: 3;
  }
  .contentSide > img {
    display: none;
  }
  footer {
    grid-column: 2/16;
    grid-row: 6;
  }
}
