.contentTwo > p,
.contentSide > p {
  font-size: 45px;
}
.contentMain::-webkit-scrollbar {
  display: none;
}
.contentMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  height: 280px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.product:hover {
  background-color: rgb(233, 233, 233);
}
.product > img {
  padding-bottom: 10px;
}
.cena {
  font-size: larger;
  text-decoration: underline;
}
.preview {
  height: 200px;
}
