.footerContent {
  padding-top: 5px;
  width: 250px;
  text-align: center;
  height: 100%;
}
.footerLeft {
  float: left;
}
.footerContent > a,
.footerContent > p {
  font-size: 20px;
}
.footerRight {
  float: right;
}
.iconCont {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 10px;
}
